<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">UniFi Controller on %h</name>
  <service>
    <type>_unifi._tcp</type>
    <port>8080</port>
  </service>
</service-group>
